.app{
  font-family: "Raleway" , sans-serif;
}
.navbar{
  display:flex;
  align-items: center;
  padding: 0;
  margin:0;
  width: 100%;
  height:100px;
  background-color:759eda;
  text-align: left;
}
.search > input{
 background-color: #3078b3;
 height: 40px;
 border:0px;
 margin-bottom: 10px;
 color: white;
 margin-left:  10px;
}
input:focus{
  border:1px solid black;
}

.buttons > button{
  background-color: #73b4e9;
  margin-left: 20px;
  border: 0;
  font-size: 1.5rem;
  padding:20px;
}

.over{
  align-items: center;
  color: white;
  font-size: large;
}
body{
  margin:0 auto;
  background-color: #569eda;
  text-align: center;
  padding: 0;
}
.tem{
  display:inline;
}

.website{
 align-items: center;
 line-height: 2rem;


}
h2,h3,h4{
  display: inline;
}
h2{
  font-weight: bold;

}
.maining{
  width: 150px;
  height: 150px;
  padding-top: 2%;
  /* padding-right: 23%; */
}
.weather-change{
  display: flex;
  justify-content: space-around;
  /* grid-template-columns: repeat(7,1fr); */
  /* padding: 0rem 12rem 0rem 12rem; */
  flex-wrap: wrap;

}
.weather-change img {
  width: 100px;
  /* margin: 0.5rem 0; */
 
}

.weather-change h3{
  /* margin-left: 2rem; */
  color: #091948;
  
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
  
}
.weather{
  text-align: center;
  margin: 2rem 0;

}
.humi{
  font-size:small;
  text-align: center;
}
.tem{
  font-size:large;
  text-align: center;
}

.over{
  color: white;
}

img{
  height: 50px;
  width: 50px;
 /* padding-left: 26%; */
}
.container{
  text-align: center;

}

@media (max-width: 460px) {
  button{
    /* width:100px; */
    font-size: 15px;
  }
.search{
  width: 150px;
}

}
 
  








































